#projects{
    width: 100%;
    padding: 80px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}

.container-sec-projects{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(370px, 2fr));
    gap: 50px;
    transition: all ease .4s;
}

.caixa-project{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: #181818;

    box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.6);
}

.projct-semlink{
    cursor: not-allowed;
}

.img-project{
    width: 100%;
    border-radius: 10px;
}

.name-project{
    font-size: 1.5em;
    font-weight: 500;
}

.type-project{
    color: var(--color2);
    font-size: 1.1em;
    font-weight: 500;
}

.txt-project{
    opacity: 92%;
    font-size: 1em;
    font-weight: 400;
}

.caixa-tecs{
    display: flex;
    gap: 8px;
}

.caixa-tecs i{
    font-size: 1.4em;
    transition: all ease .4s;
}

.fa-html5:hover{
    color: #fc4f13;
}
.fa-css3-alt:hover{
    color: #2d54e5;
}
.fa-js:hover{
    color: #f7e025;
}
.fa-react:hover{
    color: #66dbfb;
}
.fa-sass:hover{
    color: #cf6c9c;
}
.fa-bootstrap:hover{
    color: #7c18f8;
}
.fa-node:hover{
    color: #87cf30;
}
.fa-git-alt:hover{
    color: #f05539;
}
.fa-figma:hover{
    color: #20befd;
}
.fa-display:hover{
    color: #757575;
}
.fa-mobile-screen:hover{
    color: #757575;
}
.fa-pen-ruler:hover{
    color: #150ee6;
}

.caixa-bots{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bot-site{
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    background-color: var(--color1);
    color: var(--white);
    transition: all ease .4s;

    box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.6); 
}

.bot-site:hover{
    background-color: #150ee6a2;
}

@media (max-width: 450px){

    .container-sec-projects{
        grid-template-columns: repeat(auto-fit, minmax(100%, 2fr));

    }

}