.home-scroll{
    visibility: hidden;
}

.about-scroll{
    visibility: hidden;
}

.skill-scroll{
    visibility: hidden;
}

.project-scroll{
    visibility: hidden;
}

.footer-scroll{
    visibility: hidden;
}