#skills{
    width: 100%;
    padding: 80px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-skills{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 20px;
    transition: all ease .4s;
}

.caixa-skill{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    background-color: var(--white);
    transition: all ease .4s;
    gap: 5px;
}

.caixa-skill i{
    font-size: 2.5em;
}

.caixa-skill p{
    font-size: 1.2em;
    font-weight: 600;
}
